#spooky{

    -fx-background-image: url("images/spookyFour.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 800;
    -fx-background-position: center center;

}
#human{
    -fx-background-image: url("images/humanFour.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 800;
    -fx-background-position: center center;



}
#alien{
    -fx-background-image: url("images/alienFour.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 800;
    -fx-background-position: center center;



}